@model IEnumerable<WebApplicationWithDatabase.Models.ProductViewModel>
@{
    ViewBag.Title = "Products List";
}

<h2>Products</h2>
<ul>
@foreach (var item in Model)
{
    <li>@item.Name</li>
}
</ul>


